@import '~antd/dist/antd.css';

.logo-animation {
  height: 70vmin;
  width: 70vmin;
	animation: beat 0.8s infinite alternate;
	transform-origin: center;
}

/* @keyframes beat{
	to { transform: scale(1.4); }
} */


/* This is the part that actually hides the 'Choose file' text box for camera inputs */
input[capture] {
  display: none;
}
